.mainMenu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(85, 85, 85, 0.8);
  .mainMenuSideBar {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 3rem;
    &TopContent {
      display: flex;
      justify-content: space-between;
      a {
        color: gray;
      }
    }
    &BottomContent {
      box-sizing: border-box;
      padding: 2rem;
      &List {
        a{
          color: gray;
        }
      }
    }
  }
}